<%- include('partials/header.ejs') -%>
<header class="container">
  <h1 class="user">Adams Abdulmaleek</h1>
  <h2 class="userTitle">BOOKS I'VE READ</h2>

  <div class="introText">
    Tiny summary but detailed notes for each. Use the ISBN number to find it
    from your local library or anywhere else. This page will constantly update
    as I read more, so bookmark it if you want to check back in a few months.
  </div>

  <div class="filter" >
    <button type="button" class="button" id="filterButton">Filter</button>
    <form action="/sort" class="filterForm">
      <input type="submit" name="filter" id="title" value="title" />
      <input type="submit" name="filter" id="best" value="rating" />
      <input type="submit" name="filter" id="newest" value="date_read" />
    </form>
  </div>
  <p class="help">
    Please read <a href="/faq">the FAQ page</a> about these notes if you have
    any question. You can also email me
  </p>
</header>
<main class="container">
  <section class="bookList">
    <% for(let book of booksRead) { %>
    <article class="bookContainer" id="<%= book.id %>">
      <img src="<%= book.cover_img %>" alt="" class="bookCover" />

      <div class="info">
        <h2 class="bookTitle"><%= book.title %> - BY <%= book.author %></h2>

        <div class="userReview">
          <p class="dateRead">
            DATE READ: <%= new Date(book.date_read).toISOString().split('T')[0]
            %>
          </p>
          <p class="recommendation">
            HOW STRONGLY I RECOMMEND IT: <%= book.rating %>/10
          </p>
        </div>
        <div class="description">
          <p class="text"><%= book.description %></p>
          <span class="noteLink">
            <a href="<%- `books/${book.id}` %>">Read my notes</a>, go to the
            <a
              href="<%= book.book_source_url %>"
              target="_blank"
              rel="noopener noreferrer"
              ><%= book.book_source %> Page</a
            >
            for details and reviews
          </span>
        </div>
      </div>
    </article>
    <% } %>
  </section>
</main>
<%- include('partials/footer.ejs') -%>
